 *a{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

 }

 a{
   text-decoration: none;
 }

 img{
   vertical-align: middle;
 }


.page1{
    width: 600px;
    height: 300px;
    background-color: rgb(242, 242, 239);
    margin-top: 70px;
    margin-left: 60px;
   box-shadow: 0px 0px 15px 2px rgb(57, 55, 55);
    
}

.img1{
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: 260px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.five_ster{
    width: 80px;
    width: 80px;
    margin-top: 35px;
    margin-left: -80px;
    position: absolute;
}


.for_me{
    margin-top: 70px;
}

.for_me h5{
    margin: 85px;
}


.my_name{
    width: 150px;
    height: 50px;
    /* background-color: beige; */
    margin-left: 250px;
    margin-top: -40px;
    position: relative;
}

.my_name h3{
    text-align: center;
    margin-top: 12px;
    margin-left: 15px;
    position: absolute;
}


.my_propation{
   width: 150px;
    height: 50px;
    /* background-color: rgb(156, 156, 93); */
    margin-left: 250px;
    margin-top: -25px;
    position: relative;
}

.my_propation h6 {
    text-align: center;
    margin-top: 12px;
    margin-left: 25px;
    position: absolute;
    font-weight: 500;
    font-size: 10px;
}







