 *a{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

 }

 a{
   text-decoration: none;
 }

 img{
   vertical-align: middle;
 }

/* .page1{
  width:100%;
  height: 500px;
} */

.page1 img{
   width: 100%;
   height: 500px;
   overflow: hidden;
   position: relative;
} 

.overflow{
width: 100%;
height: 500px;
background: #3259d8;
position: absolute;
inset: 0;
opacity: 0.8;

}

.headerpat{
   width: 100%;
   height: 51px;
   background: #23a0da;
   position:relative;
   padding: 1px;
   margin: 1px;
}

.headerlogo{
   width:107px;
   height: 54px;
   background:url(img/headerlogo.png);
   background-size: cover;
   background-position:center;
   float: left;
   display:inline;
   margin-left: 30px;
   
   
}


.headermenu{
   width: 640px;
   height: 50px;
   /* background: rgba(164, 29, 5, 0.8); */
   
   
}

.headermenu ul{
   list-style: none;
   display: flex;
   justify-content: space-around;
   padding:10px;
   margin-top: 7px;
   margin-left: 185px;
   gap:10px;

   
}

.headermenu ul li a{
   padding: 6px 6px;
   color: black;
   
}


.headermenu ul li a:hover{
 background: black;
 color: aliceblue;
 transition: all linear 0.5s;
}


button{
 width: 70px;
 margin-left: 80px;
 border-radius: 12px;
 background-color:red;
 border-color:red;
}




.headermenu ul button:hover{
   background:rgb(63, 240, 10);
   border-color: rgb(63, 240, 10);
}




.beanner h1{
   color: azure;
   position: center center;
   margin-left: 230px;
   margin-top: 50px;
 
}

.beanner h6{
   margin-left: 230px;
   color: azure;

}




.get_free_quoto {
   width: 110px;
   height: 30px;
   background-color: #4f67b6;
   margin-left: 200px;
   margin-top: 50px;
   border-color: #4f67b6;


}

.get_free_quoto:hover{
  background-color:rgb(46, 91, 66);
  color: aliceblue;
  border-color:rgb(46, 91, 66);
  border-style: solid;
   box-shadow: 0px 0px 15px 2px rgb(105, 101, 101);


}


.buttons1{
   text-align: center;
   margin: 0px;
   padding: 0px;
   font-size: 12px;
   color: rgb(223, 232, 229);
   
}


.learn_more {
   width: 90px;
   height: 30px;
   background-color: #4f67b6;
   margin-left: 25px;
   margin-top: 50px;
   border-color:#4f67b6;


}



.learn_more:hover{
  background-color:rgb(46, 91, 66);
  color: aliceblue;
  border-color:rgb(46, 91, 66);
  border-style: solid;
  box-shadow: 0px 0px 15px 2px rgb(105, 101, 101);
  


}


.buttons2{
   text-align: center;
   margin: 0px;
   padding: 0px;
   font-size: 12px;
   color: rgb(223, 232, 229);
 
   
}



